<!DOCTYPE html>
<html>
<head>
    <link href="../../../../normalize.min.css" rel="stylesheet" />
    <link href="../../../../Styles.css" rel="stylesheet" />
    <link href="../../../../SASS/buttermilk.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
